body{
    font-size: 150%;
}

#container{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
            'sobre_nos imagem' ;
}

#About_Us{
    grid-area: sobre_nos;
    padding: 2em;
    background-color: whitesmoke;
}

img{
    grid-area: imagem;
    width: 95%;
    height: 70%;
    padding-left: 5%;
    margin-top: 13%;
}