#container{
    border: 3px solid black;
    grid-row-gap: 5%;
    grid-template-areas:
      'Counter1'
      'Counter2'
      'Counter3'
      'Counter4'
      'Counter5'
      'Counter6'
      'Counter7'
      'Counter8'
      'Counter9';
      margin-bottom: 10%;
      padding-bottom: 150%;
}







